.cardContainer {

    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-decoration: none;
  position: relative;
  color: black;
  padding: 30px;
  text-align: center;
}

.cardContainer img{
    object-fit: contain;
    width: 100%;
/* max-width: 100%; */
    height: 140px !important;
    padding: 20px;
}
.cardContainer .btn{
    display: flex;
margin-right: auto;
margin-left: auto;
    bottom: 0;
    cursor: pointer;
    background-color: var(--primary-color);
    position: absolute;

    font-weight: 600;
    border: none;
    border-radius: 25px;
    width: 70%;
    margin: 10px 5px;
    padding: 3px 10px;
    display: none;
  
}
.cardContainer:hover .btn{
    display: block;
}
.btn:hover{
    background-color: var(--primary-shade);
}

.rating{
 
    display: flex;
    align-items: center;
    padding: 10px 0;

  
  
}

.flexed{
  
  
    display: flex;
    gap: 50px;
    width: 100%;
    height: 50vh;
    /* height: fit-content; */
    box-shadow: none;
overflow: none;
}
.flexed h3{
    padding: 20px 0;
   
}
.flexed .btn{
    display: block;
    width: 150px;
    margin-right: 40px;
    position: static;

}
.flexed img{

    /* width: 100%; */
    width: 300px;
    /* max-width: max-content; */
    /* max-height: max-content; */
    height: auto;

}
@media (max-width:768px) {
    .flexed{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }
    .description{
        font-size: 12px;
    }
  .cardContainer div{
    padding: 0;

  }
  .cardContainer .btn{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }





}
.cardContainer div h3{
    
font-size: 17px;
text-align: center;
padding: 10px;
text-wrap: balance;
}
.description{
    text-align: left;
    padding-left: 20px;
}
