.productContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    margin: 70px 30px 50px 30px;
    justify-items: center;
    gap: 50px;
    max-width: 1450px;
}
section{
    margin: 0 auto;
}


@media (max-width:720px) {
    .productContainer{
        gap:5px;
        margin: 5px;
        width: 100%;
    }
    
}