*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 place-items: center;
 margin-top: -10%;
 position: relative;


}

@media (max-width:720px) {
    .container{
        width: 100%;
        display: grid;
        grid-template-columns:auto auto;
    }
}