.outerCartContainer{
    display: flex;
     justify-content: center;
    margin-top: 20px;
    gap: 10px;
   
}
.outerCartContainer img{
    width: 100px !important;
   
}
.innerCartContainer{
    padding: 20px;
    
}
.innerCartContainer h2,
.innerCartContainer h3{
    padding: 10px;
}
 hr{
margin: 10px;
}
.subtotal{
    display: flex;
    flex-direction: column;
   align-items: center;
    gap: 5px;
    background-color: rgb(242,241, 241);
    height: 80%;
    min-width: 220px;
    padding: 20px 10px;
    
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    margin-left: -30px;
}
.subtotal a{
    text-align: center;
    background-color: var(--primary-color);
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    width: 100%;
    border: none;

}
.subtotal a:hover{
    background-color: var(--primary-shade);
}
.subtotal div,
.subtotal span{
    display: flex;
    gap: 10px;
}
.outerCartContainer div:not(.subtotal){
    height: auto !important;
}


.addRemove{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.addRemoveButton{  
border: 5px solid var(--primary-color);
border-radius: 8px;
width: fit-content;
    display:flex;
    gap: 5px;
place-items: center;
    flex-direction:row;
   

   
   
}

.button{
    
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    padding: 5px 17px;
    border: none;
}
.button:hover svg{
    color: var(--primary-color);
    transform: scale(1.2);
}

@media (max-width:760px) {
    .addRemove{
        position: relative;
        flex-direction: column;
    }
    .addRemoveButton{
        position: absolute;
    bottom: 0;
        justify-content: center;
margin-left: 100px;
       margin-bottom: -10px;
    }

.outerCartContainer{
    gap: 2px;
}
.outerCartContainer{
    flex-direction: column;
}

  .addRemoveButton {
    width: 25%;
   
    right: 0;
    gap: 0;

    text-align: center;
  margin-bottom: 160px;

    
  }
  .addRemove{
    gap: 0;
  }

 
.innerCartContainer img{
    margin-bottom: -70px;
}
}



  



